<div class="row">
    <div class="col-12" *ngFor="let item of form">
        <div class="form-group" *ngIf="item.type == 'text' || item.type == 'number' || item.type == 'password'">
            <label [for]="item.name">{{item.label}}</label>
            <input [type]="item.type" class="form-control" [(ngModel)]="item.value" [ngClass]="(item.class != undefined) ? item.class : ''" [name]="item.name" [id]="item.name" [placeholder]="item.placeholder ? item.placeholder : ''" [value]="item.value ? item.value : ''"
                [attr.disabled]="item.isDisabled ? '' : null" [required]="item.isRequired">
            <div class="invalid-feedback" *ngIf="item.hasError">
                {{ validationMessage ? validationMessage : 'Campo requerido *' }}.
            </div>
        </div>
        <div class="form-group" *ngIf="item.type == 'select'">
            <label [for]="item.name">{{item.label}}</label><br>
            <mat-form-field class="w-100">
                <mat-select #select [placeholder]="item.placeholder" [(ngModel)]="item.value">
                    <mat-select-filter *ngIf="select.focused" [placeholder]="'Buscar'" [displayMember]="'name'" [array]="item.valueArray" (filteredReturn)="item.valueFiltered=$event"></mat-select-filter>
                    <mat-option *ngFor="let option of item.valueFiltered" [value]="option.id">
                        {{option.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="invalid-feedback" *ngIf="item.hasError">
                {{ validationMessage ? validationMessage : 'Campo requerido *' }}.
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="pull-right mt-3">
            <button class="btn btn-primary mr-2" type="button" (click)="save()">Guardar</button>
            <button class="btn btn-secondary" type="button" id="btn-cancel-modal" (click)="cancel()">Cancelar</button>
        </div>
    </div>
</div>