<app-modal title="Nuevo incidente" *ngIf="withModal">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="priority">Prioridad</label><br>
                <mat-form-field class="w-100">
                    <mat-label>Seleccione la prioridad del incidente</mat-label>
                    <mat-select [(ngModel)]="incident.priorityId">
                        <mat-option *ngFor="let item of priorities" [value]="item.id">
                            <b>{{item.name}} </b>- Tiempo estimado de {{item.sla.hours}} horas
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="events">Incidentes</label><br>
                <mat-form-field class="w-100">
                    <mat-select [(ngModel)]="incident.title" #select [placeholder]="'Seleccione el incidente'">
                        <mat-select-filter *ngIf="select.focused" [placeholder]="'Buscar'" [array]="events" (filteredReturn)="eventsFiltered=$event"></mat-select-filter>
                        <mat-option *ngFor="let option of eventsFiltered" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-12 ">
            <div class="form-group ">
                <label for="description">Descripción</label><br>
                <textarea class="form-control" [(ngModel)]="incident.description" placeholder="Digite la descripción del incidente "></textarea>
            </div>
        </div>
        <div class="col-12 ">
            <div class="pull-right ">
                <button class="btn btn-primary mr-2 " type="button " (click)="save() ">Guardar</button>
                <button class="btn btn-secondary " type="button " id="btn-cancel-modal " (click)="cancel() ">Cancelar</button>
            </div>
        </div>
    </div>
</app-modal>

<div class="row" *ngIf="!withModal">
    <div class="col-12">
        <div class="form-group">
            <label for="priority">Prioridad</label><br>
            <mat-form-field class="w-100">
                <mat-label>Seleccione la prioridad del incidente</mat-label>
                <mat-select [(ngModel)]="incident.priorityId">
                    <mat-option *ngFor="let item of priorities" [value]="item.id">
                        <b>{{item.name}} </b>- Tiempo estimado de {{item.sla.hours}} horas
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label for="events">Incidentes</label><br>
            <mat-form-field class="w-100">
                <mat-select [(ngModel)]="incident.title" #select [placeholder]="'Seleccione el incidente'">
                    <mat-select-filter *ngIf="select.focused" [placeholder]="'Buscar'" [array]="events" (filteredReturn)="eventsFiltered=$event"></mat-select-filter>
                    <mat-option *ngFor="let option of eventsFiltered" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="col-12 ">
        <div class="form-group ">
            <label for="description ">Descripción</label><br>
            <textarea class="form-control" [(ngModel)]="incident.description" placeholder="Digite la descripción del incidente "></textarea>
        </div>
    </div>
</div>