<app-auth-layout>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <mat-card class="login-card">
                <mat-card-header>
                    <mat-card-title>Login</mat-card-title>
                    <mat-card-subtitle>Incident App</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        <mat-form-field style="width: 100%;">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Type your username">
                            <mat-icon matSuffix>perm_identity</mat-icon>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field style="width: 100%;">
                            <mat-label>Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Type your username">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </p>
                </mat-card-content>
                <mat-card-actions class="text-center">
                    <button mat-raised-button color="primary" style="width: 300px;">Login</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</app-auth-layout>