<div class="row">
    <div class="col-12">
        <div class="card border-dark mt-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <h5 class="mt-1">Incidentes</h5>
                    </div>
                    <div class="col-6">
                        <div class="pull-right">
                            <button class="btn btn-dark mr-1" type="button">Nuevo incidente</button>
                            <button class="btn btn-dark mr-1" type="button">Prioridades</button>
                            <button class="btn btn-dark mr-1" type="button">SLA</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="table-header">
                        <input type="text" class="form-control" placeholder="Buscar incidente" />
                    </div>
                    <div class="table-responsive">
                        <table class="table table-stripped table-hover">
                            <thead>
                                <th>#</th>
                                <th>Titulo</th>
                                <th>Prioridad</th>
                                <th>Asignada a</th>
                                <th>En cola</th>
                                <th>En proceso</th>
                                <th>Cerrada</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Accidente de trafico: fracturas leves</td>
                                    <td>Media</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><button type="button" class="btn btn-dark">Ver incidente</button></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Pelea entre parejas: Mujer acuchillada</td>
                                    <td>Alta</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><button type="button" class="btn btn-dark">Ver incidente</button></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Catastrofe natural: Personas atrapadas en terremoto</td>
                                    <td>Urgente</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><button type="button" class="btn btn-dark">Ver incidente</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>