<div class="row">
    <div class="col-12">
        <div class="card border-dark mt-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <h5 class="mt-1">Incidentes</h5>
                    </div>
                    <div class="col-6">
                        <div class="pull-right">
                            <button class="btn btn-dark mr-1" (click)="newIncident()" type="button">Nuevo incidente</button>
                            <button class="btn btn-dark" (click)="showPriorityCard()" type="button">Prioridades</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="table-header">
                        <input type="text" [(ngModel)]="searchInput" (keydown)="getIncidentFiltered($event)" class="form-control" placeholder="Buscar incidente" />
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <th>#</th>
                                <th>Titulo</th>
                                <th>Prioridad</th>
                                <th>Asignada</th>
                                <th>En cola</th>
                                <th>En proceso</th>
                                <th>Cerrada</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of incidents; let i = index">
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.title }} : {{ item.description }}</td>
                                    <td>{{ item.priority}}</td>
                                    <td>{{ item.assignTo }}</td>
                                    <td class="text-center"><img src="/assets/img/checked.png" /></td>
                                    <td class="text-center"><img src="/assets/img/checked.png" *ngIf="item.isProcessDone" /><img src="/assets/img/unchecked.png" *ngIf="!item.isProcessDone" /> </td>
                                    <td class="text-center"><img src="/assets/img/checked.png" *ngIf="item.isClosed" /><img src="/assets/img/unchecked.png" *ngIf="!item.isClosed" /> </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-12" *ngIf="!item.isClosed">
                                                <div class="text-center">
                                                    <button type="button" class="btn btn-primary mr-1" (click)="wizard(item)">Asignar</button>
                                                    <button type="button" class="btn btn-dark" (click)="wizard(item)">Detalle</button>
                                                </div>
                                            </div>
                                            <div class="col-12" *ngIf="item.isClosed">
                                                <div class="text-center">
                                                    <button type="button" class="btn btn-dark" (click)="wizard(item)">Detalle</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>