/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.w-100 {
    width: 100%;
}

.pull-right {
    float: right;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* Footer height */
}

html,
body {
    height: 100%;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
    z-index: 99999 !important;
}

.btn-primary-incident {
    color: #fff !important;
    background-color: #c62828 !important;
    border-color: #c62828 !important;
}

.btn-primary-incident:hover {
    color: #fff;
    background-color: #b71c1c !important;
    border-color: #b71c1c !important;
}

.btn-primary-incident.focus,
.btn-primary-incident:focus {
    color: #fff;
    background-color: #c62828 !important;
    border-color: #c62828 !important;
    box-shadow: 0 0 0 .2rem rgba(255, 38, 38, 0.5)
}

.btn-primary-incident.disabled,
.btn-primary-incident:disabled {
    color: #fff;
    background-color: #f44336 !important;
    border-color: #f44336 !important;
}

.btn-primary-incident:not(:disabled):not(.disabled).active,
.btn-primary-incident:not(:disabled):not(.disabled):active,
.show>.btn-primary-incident.dropdown-toggle {
    color: #fff;
    background-color: #f44336 !important;
    border-color: #f44336 !important;
}

.btn-primary-incident:not(:disabled):not(.disabled).active:focus,
.btn-primary-incident:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary-incident.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 38, 38, 0.5)
}