<!-- Just an image -->
<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" [routerLink]="'/home'" style="color:white">
        <img src="assets/img/fire.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"> IncidentApp
    </a>
    <div class="pull-right text-white">
        <div class="dropdown">
            <a class="dropdown-toggle user-name" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{userName}}&nbsp;</a>
            <div class="dropdown-menu">
                <h6 class="dropdown-header">Opciones</h6>
                <a class="dropdown-item" href="#" (click)="logout()">Salir <i class="fas sign-out-alt"></i></a>
            </div>
        </div>
    </div>
</nav>